@font-face {
    font-family: 'Open Sans';
    src: url(fonts/CormorantSC-Regular.ttf) format('truetype');
  }

body {
    background-color: #f7f7f7;
    font-family: CormorantSC-Regular;
    max-width: 900px;
    margin: auto;
    align-content: center;
    align-items: center;
}

.photo {
    border-radius: 25px;
    margin-top: auto;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

a {
    text-decoration: underline;
    color: #006eff;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    padding: 10px;
    border: 3px solid #505050;
    margin: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    border: 2px solid #505050;
    border-radius: 5px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    color: rgb(255, 115, 0);
}